In [35]:
import pandas as pd
import numpy as np

In [36]:
data=pd.read_csv("Downloads/people.txt")

In [37]:
data

   Age Agegroup  Height   Status  YearsMarried
0   21    adult     6.0   single            -1
1    2    child     3.0  married             0
2   18    adult     5.7  married            20
3  221  elderly     5.0  widowed             2
4   34    child    -7.0  married             3

In [38]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
len(data)

5

In [40]:
def check_age_range(data) :
        age_range = lambda r : r in range(151)
        print(data["Age"].apply(age_range))

In [41]:
check_age_range(data)

0     True
1     True
2     True
3    False
4     True
Name: Age, dtype: bool

In [42]:
def check_age(data) :
        age_check = lambda r : r[0] > r[1]
        print(data[["Age","YearsMarried"]].apply(age_check,axis=1))

In [43]:
check_age(data)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [45]:
def check_status(data) :
        status=set(data.Status)
        status_check = lambda r : r in status
        print(data["Status"].apply(status_check))

In [46]:
check_status(data)

0    True
1    True
2    True
3    True
4    True
Name: Status, dtype: bool

In [47]:
 def check_group(data) :
        def group_check(x) :
            if (x[0] in range(18) and x[1]=="child") or (x[0] in range(18,66) and x[1]=="adult") or (x[0]>65 and x[1]=="elderly")  :
                return True
            else :
                return False
        print(data[["Age","Agegroup"]].apply(group_check,axis=1))

In [48]:

check_group(data)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [49]:
E = {"check_age_range" : check_age_range, 
     "check_age" : check_age, 
     "check_status": check_status, 
     "check_group" : check_group
    }

In [50]:

E["check_age"](data)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [51]:

x = data.plot()

In [52]:
data.describe()

              Age   Height  YearsMarried
count    5.000000  5.00000      5.000000
mean    59.200000  2.54000      4.800000
std     91.163041  5.45967      8.642916
min      2.000000 -7.00000     -1.000000
25%     18.000000  3.00000      0.000000
50%     21.000000  5.00000      2.000000
75%     34.000000  5.70000      3.000000
max    221.000000  6.00000     20.000000